<h2 class="archive"><%= catch_content :title %></h2>
<div id="nodes">
  <% if @nodes.length == 0 -%>
    <div class="node">
      <h2>Not Found</h2>
      Sorry. I can't seem to find what you're looking for.
    </div>
  <% else -%>
    <%= partial("nodes/node", :with => @nodes) %>
    
    <% if @page_count > 1 -%>
    
      <%= paginate(
        @current_page, 
        @page_count, 
        :default_css => false, 
        :outer_window => 5, 
        :next_label => "Older Posts &raquo;", 
        :prev_label => "&laquo; Newer Posts"
        )
      %>
    
    <% end -%>
    
  <% end -%>
</div>